<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="author" content="Ishaant Nandu" />
    <meta
      name="google-site-verification"
      content="qDSZYOn7b9oN_Hk1yOyYwsjsq9nunseMqnk4bpGaV2E"
    />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Ishaant's Website</title>
    <link rel="dns-prefetch" href="https://skillicons.dev" />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/keyboard-css@1.2.4/dist/css/main.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&family=DM+Serif+Display:ital@0;1&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />

    <link href="../static/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

    <nav class="capo noanim">
      <header class="noanim">
        <h1 class="Heading noanim">Ishaant.com</h1>
        <br />
        <div class="linkarea noanim">
          <a href="/" class="noanim fa-solid fa-2x fa-house"></a>
          <a href="/blog" class="noanim fa-brands fa-2x fa-blogger-b"></a>
        </div>
      </header>
    </nav>
    <main>{{content}}</main>

    <br />
    <footer class="noanim">
      <p class="noanim">&copy; 2024-2025 Ishaant nandu</p>
    </footer>
    <script src="../static/app.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "HTML-CSS": { linebreaks: { automatic: true } },
        CommonHTML: { linebreaks: { automatic: true } },
        SVG: { linebreaks: { automatic: true } }
      });
    </script>
    <script
      src="https://kit.fontawesome.com/89fd12cde4.js"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS_CHTML"
    ></script>
  </body>
</html>
